.Parameters {
  display: flex;
}

.Parameters .nes-container {
  margin-top: 20px;
  background: white;
}

.param {
  margin: 0 5px;
}

.Parameters label {
  font-size: 12px;
}

.params-row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog-menu {
  width: 700px;
  padding: 0;
}

.dialog-menu label {
  display: flex;
  margin: 5px 10px;
  font-size: 11px;
}

.category-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.filter-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialog-menu button {
  margin-top: 15px;
}

.Parameters section {
  margin-right: 10px;
}

.Parameters button {
  font-size: 13px;
}
