.Parameters {
  display: flex;
}

.Parameters .nes-container {
  margin-top: 20px;
  background: white;
  padding: 20px 40px;
}

#toggle-pop-up {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

#pop-up-status {
  margin-top: 12px;
  margin-left: 10px;
  color: blue;
}

#pop-up {
  display: none;
}

.Parameters label {
  font-size: 15px;
}

.Parameters select {
  font-size: 15px;
}

.params-row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.param {
  margin: 0 10px;
}

.Parameters button {
  font-size: 13px;
}

.dialog-menu {
  width: 700px;
  padding: 0;
  margin: 0;
}

.category-title {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.dialog-menu label {
  display: flex;
  margin: 10px 5px;
  font-size: 11px;
}

.filter-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialog-menu button {
  margin-top: 15px;
}

@media only screen and (max-width: 800px) {
  .dialog-menu {
    width: 470px;
  }
}

@media only screen and (max-width: 715px) {
  .nes-container.with-title > .title {
    font-size: 0.8rem;
  }

  .nes-dialog .title {
    font-size: 15px;
  }

  .category-title {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .dialog-menu label {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .Parameters .nes-container {
    padding: 20px 20px;
  }

  #pop-up-status {
    font-size: 12px;
  }

  .Parameters select {
    font-size: 10px;
  }

  .Parameters label {
    font-size: 10px;
  }

  .param button {
    font-size: 10px;
  }

  .param {
    margin: 0 3px;
  }

  .dialog-menu {
    width: 280px;
  }
}

@media only screen and (max-width: 395px) {
  .nes-container.with-title > .title {
    font-size: 0.7rem;
  }

  .Parameters .nes-container {
    padding: 20px 10px;
  }

  .params-row {
    display: block;
  }

  .params-row button {
    width: 180px;
  }

  .param {
    margin-bottom: 5px;
  }

  .nes-dialog .title {
    font-size: 13px;
  }

  .dialog-menu {
    width: 250px;
  }
}
