.Parameters {
  display: flex;
}

.Parameters .nes-container {
  margin-top: 20px;
  background: white;
}

.param {
  margin: 0 5px;
}

.Parameters label {
  font-size: 12px;
}

.params {
  display: flex;
  align-items: flex-end;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
