.SearchResults {
  height: 100%;
}

.pages {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.jump-to {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.label {
  margin: 0 5px 0 12px;
}

.SearchResults label {
  padding-top: 8px;
  font-size: 15px;
}

.dark_select {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
  height: 45px;
  padding: 10px 15px;
  background: #1a1e22;
  color: white;
}

.page {
  margin: 0 10px;
}

.page-active {
  color: blue;
  margin: 0 10px;
}

.arrow-section {
  display: flex;
}

.arrow {
  margin: 0 8px;
}

.SearchResults .nes-container:not(.SearchResults-cards .nes-container) {
  width: 95vw;
  margin-top: 18px;
  background: white;
}

.SearchResults-cards {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-results {
  display: flex;
  justify-content: center;
  height: 170px;
}

.nes-kirby {
  align-self: flex-end;
}

.nes-balloon {
  height: 70px;
}

@media only screen and (max-width: 600px) {
  .page,
  .page-active {
    font-size: 13px;
  }

  .jump-to {
    font-size: 13px;
  }

  .dark_select {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .page,
  .page-active {
    font-size: 11px;
    margin: 0 7px;
  }

  .jump-to {
    font-size: 11px;
  }

  .dark_select {
    font-size: 9px;
  }
}
