.SearchResults {
  height: 100%;
}

.SearchResults .nes-container:not(.SearchResults-cards .nes-container) {
  width: 95vw;
  margin-top: 18px;
  background: white;
}

.SearchResults-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-results {
  display: flex;
  justify-content: center;
  height: 170px;
}

.nes-kirby {
  align-self: flex-end;
}

.nes-balloon {
  height: 70px;
}

.pages {
  display: flex;
  justify-content: center;
}

.page {
  margin: 0 3px;
}
