.Searchbar {
  margin-top: 10px;
}

.search-form {
  display: flex;
}

.nes-input {
  height: 40px;
  background: white;
}

.nes-input:focus {
  outline: none;
  background: #e9ecf0;
}

.nes-btn {
  height: 40px;
  padding: 2px 8px;
}

@media only screen and (max-width: 600px) {
  .nes-input {
    font-size: 10px;
    width: 240px;
    height: 30px;
  }

  .Searchbar .nes-btn {
    font-size: 10px;
    width: 90px;
    height: 30px;
  }
}

@media only screen and (max-width: 360px) {
  .nes-input {
    font-size: 10px;
    width: 170px;
  }

  .Searchbar .nes-btn {
    font-size: 9px;
    width: 80px;
  }
}
